/* Rectangle 1 */

position: absolute;
width: 1000px;
height: 316px;
background: rgba(90, 211, 79, 0.9);
background-blend-mode: darken;
border: 19px solid #01847F;
box-sizing: border-box;

/* Rectangle 2 */

position: absolute;
width: 253px;
height: 383px;
background: #36BD8E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;

/* our_planet 1 */

position: absolute;
width: 920px;
height: 246px;
background: url(our_planet.png);

/* Group 1 */

position: absolute;
width: 418px;
height: 45.44px;

/* Rectangle 4 */

position: absolute;
width: 474px;
height: 60px;
background: #DEB89A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* whale 1 */

position: absolute;
width: 474px;
height: 318px;
background: url(whale.jpg);
border: 1px solid rgba(90, 211, 79, 0.9);
box-sizing: border-box;

/* TOP 5 Contributors */

position: absolute;
width: 253px;
height: 65px;
font-family: Bowlby One;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 38px;
text-align: center;
color: #000000;

/* Rectangle 6 */

position: absolute;
width: 228px;
height: 298px;
background: #C4C4C4;
border: 11px solid #000000;
box-sizing: border-box;
border-radius: 27px;

/* Rectangle 7 */

position: absolute;
width: 169px;
height: 225px;
background: rgba(23, 27, 44, 0.33);
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;

/* Arrow 1 */

position: absolute;
width: 145px;
height: 0px;
background: #C4C4C4;
mix-blend-mode: darken;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
transform: rotate(90deg);

/* 1. Jay Sommerfield */

position: absolute;
width: 179px;
height: 64px;
font-family: Days One;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #000000;

/* Gallery */

position: absolute;
width: 142px;
height: 35px;
font-family: Ropa Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 26px;
text-align: center;
color: #FFFFFF;

/* Contributions */

position: absolute;
width: 145px;
height: 35px;
font-family: Ropa Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 26px;
text-align: center;
color: #FFFFFF;

/* About */

position: absolute;
width: 142px;
height: 38px;
font-family: Ropa Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 26px;
text-align: center;
color: #FFFFFF;

/* Contact Info */

position: absolute;
width: 126px;
height: 36px;
font-family: Ropa Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 26px;
text-align: center;
color: #FFFFFF;

/* 2. Tyrone James 3. Felix Griffin 4. Liu WOO jung 5. Germaine Cristopher */

position: absolute;
width: 179px;
height: 197px;
font-family: Days One;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #000000;

/* Check out the youtube playlist and the blogs now! */

position: absolute;
width: 212px;
height: 129px;
font-family: Days One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #000000;